.wrapperCrew {
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageCrew {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    border-bottom: 1px solid grey;
    padding-top: 1rem;
}

.imgCrew {
    width: 290px;
    height: 280px;
    background-image: url("../../Pages/HeroCrew/crew/image-douglas-hurley.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.optionsCrew {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
}

.optionsCrew li {
    list-style-type: none;
    color: #FFFFFF
}

.pointMenu {
    text-decoration: none;
    border:none;
    width: 0.5rem;
    height: .5rem;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}

.pointMenu:hover {
    background-color: #d0d6f9;
}

.active-back { 
    background-color: #FFFFFF;
}

.details {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.jobCrew {
    font-family: 'Bellefair', serif;
    color: #d0d6f9;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 200;
}

.nameCrew {
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.textCrew {
    font-family: 'Bellefair', serif;
    color: #d0d6f9;
    text-align: center;
    font-weight: 200;
    font-size: 1.1rem;
    padding-top: .5rem;
}

.img-desktop{
    display:none;
}

@media screen and (min-width: 767px ){

    .wrapperCrew {
        padding: 2rem;
        align-items: flex-start;
        gap: 1rem;
        padding-bottom: 0;
    }

    .img-and-details-crew {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    
    .list-and-details {
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-inline: 8rem;
        line-height: 2rem;
    }

    .imageCrew{
        border: none;
        max-height: 400px;
    }

    .imgCrew {
        height: 315px;
        width: 350px;
    }
    
    .details {
        padding:0;
        gap: 0.5rem;
    }

    .jobCrew {
        padding: 0;
        font-size: 1.2rem;
    }

    .nameCrew{
        padding: 0;
        font-size: 2rem;
    }

    .textCrew{
        padding: 0;
    }
}

@media screen and (min-width: 1439px) {
    .img-and-details-crew {
        flex-direction: row-reverse;
    }

    .imageCrew{
        max-height: 100%;
    }

    .imgCrew{
        background-image: none;
        height: 380px;
        width: 400px
    }

    .list-and-details {
        align-items: flex-start;
        gap: 3rem;
        padding-top: 5rem;
    }

    .pointMenu {
        width: .75rem;
        height: .75rem;
        cursor: pointer;
    }

    .pointMenu:hover{
        background-color: #d0d6f9;
    }


    .details {
        align-items: flex-start;
        gap: 1rem;
    }

    .nameCrew{
        text-align: left;
    }

    .textCrew {
        text-align: left;
        padding-right: 13rem;
        padding-top: 1rem;
    }

    .img-desktop {
        display: block;
        background-image: url("../../Pages/HeroCrew/crew/image-douglas-hurley.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 70%;
        width: 100%;
        position: absolute;
        bottom:0;
        right: 15rem;
    }
}