.heroCrew {
    background-image: url("./crew/background-crew-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media screen and (min-width: 767px ){
    .heroCrew {
       background-image: url("./crew/background-crew-tablet.jpg"); 
    }
}

@media screen and (min-width: 1439px) {
    .heroCrew {
        background-image: url("./crew/background-crew-desktop.jpg");
    }
}