.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
}

@media screen and (min-width: 767px) {

    
}

@media screen and (min-width: 1439px) {
    .header {
        padding: 2rem;
    }
}